
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~


cvg_sim_gazebo/meshes/grid.dae
cvg_sim_gazebo/meshes/grid.png
cvg_sim_gazebo/worlds/grid.world

