
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~


**/bin/
**/build/
**/msg_gen/
**/srv_gen/

thinc_sim_msgs/src/thinc_sim_msgs/
thinc_sim_gazebo/src/thinc_sim_gazebo/
thinc_sim_gazebo_plugins/src/thinc_sim_gazebo_plugins/
