
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~


thinc_sim_gazebo/meshes/grid.dae
thinc_sim_gazebo/meshes/grid.png
thinc_sim_gazebo/worlds/grid.world

