<?xml version="1.0"?>


<robot name="grid">

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="1.0" />
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="7 7 0.1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="7 7 0.1" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
    <material name="grid">
      <texture filename="file://grid.png"/>
    </material>
    <static>true</static>
  </gazebo>

</robot>