<?xml version="1.0"?>


<robot name="grid">

  <link name="base_link"/>

  <link name="link0">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="1.0" />
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1 1 0.1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1 1 0.1" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="link0">
    <material>Gazebo/Green</material>
    <static>true</static>
  </gazebo>

  <joint name="base_to_link0" type="fixed">
    <parent link="base_link"/>
    <child link="link0"/>
    <origin xyz="0 0 0"/>
  </joint>


  <link name="link1">
    <inertial>
      <origin xyz="0 1 0"/>
      <mass value="1.0" />
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0 1 0"/>
      <geometry>
        <box size="1 1 0.1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 1 0"/>
      <geometry>
        <box size="1 1 0.1" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="link1">
    <material>Gazebo/Red</material>
    <static>true</static>
  </gazebo>

  <joint name="base_to_link1" type="fixed">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0"/>
  </joint>


  <link name="link2">
    <inertial>
      <origin xyz="1 0 0"/>
      <mass value="1.0" />
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="1 0 0"/>
      <geometry>
        <box size="1 1 0.1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="1 0 0"/>
      <geometry>
        <box size="1 1 0.1" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="link2">
    <material>Gazebo/Red</material>
    <static>true</static>
  </gazebo>

  <joint name="base_to_link2" type="fixed">
    <parent link="base_link"/>
    <child link="link2"/>
    <origin xyz="0 0 0"/>
  </joint>


  <link name="link3">
    <inertial>
      <origin xyz="1 1 0"/>
      <mass value="1.0" />
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="1 1 0"/>
      <geometry>
        <box size="1 1 0.1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="1 1 0"/>
      <geometry>
        <box size="1 1 0.1" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="link3">
    <material>Gazebo/Green</material>
    <static>true</static>
  </gazebo>

  <joint name="base_to_link3" type="fixed">
    <parent link="base_link"/>
    <child link="link3"/>
    <origin xyz="0 0 0"/>
  </joint>


</robot>